<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zuo.ballgame.ballgame">

    <application>
        <activity
            android:name=".activity.LantingBallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
    </application>
</manifest>